<header>
	<section class='navsaction'>
		<nav class='nav'>
	<% if user_signed_in? %>
		<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
	<%= current_user.email %>
	<% else %>
		<%= link_to "Sign in", new_user_session_path %>
		<%= link_to "Sign up", new_user_registration_path %>
	<% end %>
<%= link_to "List of Events",events_index_path %>
</nav>
</section>
</header>